@import 'reset';

$alertColor: #d00000;
$warningColor: #ffba08;
$infoColor: #3f88c5;
$darkInfoColor: #032b43;
$successColor: #136f63;
$white: white;
$black: black;

body {
  color: $black;
  font-family: 'Roboto', sans-serif;
}

a {
  color: $white;
  text-decoration: none;
}

h2 {
  font-size: 175%;
  margin: 1em 0;
  font-weight: bold;
  letter-spacing: 1px;
}

h3 {
  font-size: 125%;
  margin: 1em 0;
}

p {
  margin-bottom: 0.5em;
}

.indented-content {
  margin: 0 0 0 5em;
  font-size: 110%;
  text-align: justify;
  line-height: 1.4;
}

header {
  background-color: $darkInfoColor;
  margin: 0;
  padding-right: 2em;
  display: flex;
  justify-content: space-between;
  height: 75px;
  .logo {
    font-size: 120%;
    margin: auto 0;
    padding: 0 1em;
    color: $white;
  }
  nav {
    align-self: center;
    ul {
      align-self: flex-end;
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      list-style: none;
      li {
        a {
          padding: 1em;
          line-height: 3;
        }
        a.active {
          background-color: $successColor;
        }
      }
      li:hover {
        background-color: $infoColor;
      }
    }
  }
}


%button {
  padding: 1em;
  border-radius: 5px;
  font-size: 20px;
  margin: 1em;
  font-weight: bold;
}

%content-container {
  padding: 2em;
}

// RecordsControl

.activity-button-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.activity-button {
  @extend %button;
  border: solid $infoColor 2px;
  color: $infoColor;
  background-color: transparent;
}
.activity-button:hover {
  background-color: $infoColor;
  color: $white;
}


// Active Record

.active-record {
  @extend %content-container;
  display: flex;
  flex-direction: column;
  background-color: $infoColor;
  color: $white;
  .end-activity-button {
    align-self: center;
    @extend %button;
    color: $white;
    background-color: $darkInfoColor;
    border: solid transparent 2px;
  }
  .end-activity-button:hover {
    background-color: $successColor;
    color: $white;
  }
}

.record-details {
  align-self: center;
  font-size: 25px;
}

.no-active-record {
  padding: 2em;
  background-color: $warningColor;
  color: $black;
 text-align: center;
}

// History 

.history {
  @extend %content-container;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  .today {
    margin: auto;
  }
}