@import 'reset';

$alertColor: #d00000;
$warningColor: #ffba08;
$infoColor: #3f88c5;
$darkInfoColor: #032b43;
$successColor: #136f63;
$white: white;
$contrastWhite: rgba(238, 238, 245, 0.719);
$black: black;

body {
  color: $black;
  font-family: 'Tajawal', sans-serif;
  font-size: 18px;
}

a {
  color: $white;
  text-decoration: none;
}
input {
  width: 250px;
  border: 1px $infoColor solid;
  border-radius: 5px;
  line-height: 2;
  font-size: 100%;
  padding: 0.5em;
}

h2 {
  font-size: 175%;
  margin: 1em 0;
  font-weight: bold;
  letter-spacing: 1px;
}

h3 {
  font-size: 125%;
  margin: 1em 0;
}

header {
  background-color: $darkInfoColor;
  margin: 0;
  padding-right: 2em;
  display: flex;
  justify-content: space-between;
  height: 75px;
  .logo {
    font-size: 120%;
    margin: auto 0;
    padding: 0 1em;
    color: $white;
  }
  nav {
    align-self: center;
    ul {
      align-self: flex-end;
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      list-style: none;
      li {
        a {
          padding: 0.75em;
          line-height: 2;
        }
        a.active {
          background-color: $successColor;
        }
        a:hover {
          background-color: $infoColor;
        }
      }
    }
  }
}

button {
  padding: 1em;
  margin: 0 0.5em;
  font-size: 120%;
  font-weight: bold;
  color: $infoColor;
  background-color: transparent;
  border: $infoColor solid 2px;
  border-radius: 5px;
}

%content-container {
  padding: 2em;
}

.main-container {
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  align-items: center;
}

article {
  section {
    display: flex;
    flex-direction: column;
    padding: 1em;
    h1,
    h2,
    h3,
    h4 {
      text-align: center;
    }
    text-align: justify;
  }
  section:nth-child(2n) {
    background-color: $contrastWhite;
  }
}

.activity-button-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.activity-button {
}
.activity-button:hover {
  border-color: $warningColor;
  color: $warningColor;
}

.error {
  background-color: #d00000;
  color: white;
  margin: 1em;
  padding: 1em;
  font-size: 100%;
}

// Helper classes

.center {
  text-align: center;
}
